@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

@theme {
  --font-inter: 'Inter Tight', sans-serif;
  --color-background: #27272a; /* bg-zinc-800 */
  --color-light-bg: #3f3f46;
  --color-primary: #ead8bd;
  --color-secondary: #c599ff;
}
